/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(240, 237, 237);
    
    /* background-color: brown; */
    font-family: "Poppins", sans-serif;
}

/* Navbar style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

nav ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    margin-right: 30px;
}
li>a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}


.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

/* Header Style */
.header-container{
    display:flex;
    justify-content: space-around;
}

.header-content{
    width: 580px;
    height: 270px;
}

.header-title{
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    margin-bottom: 16px;
}

.header-description{
 font-weight: 600;
 color: rgb(58, 58, 58);   
 margin-top: 16px; 
}

.btn-primary{
    width: 195px;
    height: 44px;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    color: white;
    /* background: rgb(224, 44, 109); */
}

.header-image{
    display: flex;
    flex-direction: column;
}
.upper{
    margin-top: -470px;
}


/* Sponsor style */
.sponsor{
    width: 1100px;
    height: 110px;
    margin: 0 auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 60px;
}


/* Populer Collection Style */
.collection{
    max-width: 1047px;
    margin: 0 auto;
    /* border: 2px solid tomato; */
}

.section-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-align: center;
}

.collection-container{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.collection-cards{
    
    border-radius: 5px;
    padding: 17px 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}

.card-title{
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(24, 25, 31);
    margin-bottom: 5px;
}

.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.87);
}

.card-description{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(120, 120, 133);
}
#see{
color: rgba(224, 44, 109, 0.87);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
/* responsive Style */

@media screen and (max-width:576px) {
    
    nav ul , 
    .navbar{
        flex-direction: column;
        
    }
    .navbar{
        justify-content: center;
    }
    .header-container{
        flex-direction: column-reverse;
    }
    .header-content{
        width: 100%;
        text-align: center;
    }
    .header-title{
        width: 100%;
        font-size: 1.75rem;
    }
    .header-description{
        font-size: 0.9rem;
    }
    .header-image{
        width: 100%;
        margin: 10px;
    }
    .upper{
        margin-top: -400px;
    }
    .sponsor{
        width: 100%;
        margin: 0 auto;
        gap: 10px;
        margin-top: 30px;
        
        grid-template-columns: repeat(4,1fr);
    }

    .sponsor img{
        width: 100%;
    }
}